{
  "c3ai.connection.appUrl": "https://code.c3ci.cloud/gs91c8a306/liveapp",
  "c3ai.savedEnvironments": [
    "https://code.c3ci.cloud/gs91c8a306/liveapp"
  ],
  "c3ai.lastAttemptedConnectUrl": "https://code.c3ci.cloud/gs91c8a306/liveapp"
}
